// Cyan
$primary: (
    50    : #f1fbfd,
    200   : #aeebf2,
    400   : #61d4e1,
    600   : #4fadb7,
    800   : #35757c,
);

// Using teal as gray
$gray: (
    50    : #f8faf9,
    200   : #dae3df,
    400   : #b7c7c1,
    600   : #8fa59c,
    800   : #616f6a,
);

// Blue
$info: (
    50    : #f7fafe,
    200   : #d3e2f8,
    400   : #a9c6f1,
    600   : #72a1e8,
    800   : #476da6,
);

// Green
$success: (
    50    : #f0fdf2,
    200   : #abf1b2,
    400   : #5fdd6b,
    600   : #4eb458,
    800   : #357a3b,
);

// Orange
$warning: (
    50    : #fdf9f3,
    200   : #f4debc,
    400   : #e9bd79,
    600   : #c59855,
    800   : #856739,
);

// Red
$error: (
    50    : #fef8f8,
    200   : #f9dad6,
    400   : #f2b5ae,
    600   : #e98378,
    800   : #a95249,
);

