/* You can add global styles to this file, and also import other style files */

// Import styles
@import 'styles/fonts.scss';
@import 'styles/colors.scss';

header {
  height: 50px;
  background: #cc0;
}

.pagetitle {
  float: left;
}
